.team {
  background-color: #dedede;

  & > div:nth-of-type(1) {
    background-color: white;
    text-align: center;
    padding-block: 1.5em;
    h3 {
      color: #666;
    }
  }

  & > div:nth-of-type(2) {
    padding: 2em;
  }

  & > div:nth-of-type(3) {
    background-color: white;
    text-align: center;
    padding-block: 5em;
    h2 {
      color: #666;
      font-size: 3rem;
    }
  }
}

.overview {
  & > div:nth-of-type(1) {
    h2 {
      font-size: 3rem;
    }
    position: relative;
    background-image: url('/graphics.jpg');
    background-size: cover;
    z-index: -2;
    padding-block: 4rem;
    &::before {
      z-index: -1;
      content: '';
      background-color: rgba(17, 117, 192, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    & > div {
      display: flex;
      gap: 3em;
      color: white;
      & > div {
        flex: 1rem 1 1;
      }
    }
  }
  & > div:nth-of-type(2) {
    h2 {
      font-size: 3rem;
      margin-bottom: 1.5em;
      color: #666;
    }
    .fa-icons {
      color: #1175c0;
      .fa {
        font-size: 7rem;
        margin-bottom: 0.4em;
      }
    }
    text-align: center;
    padding-block: 4rem;
  }
}
