.store {
  padding: 3em;
  .store-header {
    height: 100vh;
    width: 100%;
    margin-bottom: 3em;
  }

  & > div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    & > div {
      flex: 25rem 1 1;
      & > a {
        & > div:nth-of-type(1) {
          height: 37rem;
        }
        & > div:nth-of-type(2) {
          font-size: 1rem;
          padding-block: 0.8em;
        }
      }
    }
  }
}

.single-item {
  margin-top: 1em;
  & > div {
    display: flex;
    gap: 3rem;
    & > div {
      flex: 5rem 1 1;
    }
    & > div:nth-of-type(1) {
      margin-bottom: 5em;
      & > picture {
        height: 70rem;
        display: block;
        overflow: hidden;
      }
      & > div {
        display: flex;
        gap: 1.4rem;
        flex-wrap: wrap;
        margin-top: 1.2em;
        justify-content: center;
        & > div {
          flex-basis: 8rem;
          height: 6rem;
          flex-grow: 0;
          flex-shrink: 1;
          overflow: none;
          cursor: pointer;
        }
      }
    }
    & > div:nth-of-type(2) {
      margin-bottom: 5em;
      padding-inline: 5em;
      h4 {
        color: #777;
      }
      select {
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #555;
      }
      button {
        background-color: #222;
        color: white;
        width: 100%;
        padding: 0.8rem;
        font-size: 1.2rem;
        cursor: pointer;
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
      }
    }
    .collapsebtn {
      display: block;
      cursor: pointer;
      font-size: 1.2rem;
      margin-block: 1rem;
      font-weight: bold;
    }
    .textbox {
      border: solid 0.1rem #dedede;
      padding: 1.5em;
    }
  }
}

.visiteditemsbx {
  padding-inline: 3em;
  padding-block: 1em;
  background-color: #dedede;

  & > h4 {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  & > div {
    display: flex;
    gap: 1.4em;
    flex-wrap: wrap;

    justify-content: center;
    & > div {
      flex-basis: 21rem;
      & > a {
        p {
          font-size: 1rem !important;
        }

        & > div {
          height: 30rem;
        }
      }
    }
  }
}

.cartbucket {
  position: relative;

  & > div:nth-of-type(1) {
    width: 6rem;
    position: relative;
    & > span {
      position: absolute;
      top: 0;
      right: 0;
      height: 2rem;
      width: 2rem;
      border: solid 0.2rem #222;
      background-color: white;
      color: #222;
      font-size: 1.2rem;
      border-radius: 50%;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & > div:nth-of-type(2) {
    background-color: #eee;
    padding: 0.6em;
    position: absolute;
    z-index: 9999;
    width: 40rem;
    left: 0;

    .cart-total {
      display: flex;
      span:nth-of-type(1) {
        flex-basis: 20%;
        background-color: #eee;
      }
      font-weight: bold;
    }
    button {
      background-color: #222;
      color: white;
      width: 100%;
      padding: 0.5em;
      font-size: 1.6rem;
    }

    & > div {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      padding: 1rem;
      gap: 1em;
      margin-bottom: 0.5em;
      h2 {
        font-size: 1.3rem;
        color: #777;
        text-align: left;
      }

      h4 {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: left;
      }
      & > div:nth-of-type(1) {
        flex-basis: 15%;
        height: 4rem;
      }
      & > div:nth-of-type(2) {
        flex-basis: 70%;
      }
      & > div:nth-of-type(3) {
        font-size: 1.2rem;
        height: 4rem;
        span {
          cursor: pointer;
        }
      }
    }
  }
}

.err-danger {
  color: red;
  font-size: 1.1rem;
}
