.card {
  & > div:nth-of-type(1) {
    height: 25rem;
    overflow: hidden;
  }
  & > div:nth-of-type(2) {
    background-color: white;
    padding: 1em;
    text-align: center;
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.3);
  }
}

.cardthree {
  & > div {
    background-color: white;
    padding: 1em;
    text-align: center;
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(0, 0, 0, 0.3);
    h1,
    h2,
    h3,
    h4 {
      font-size: 2rem;
    }
  }
}

.cardtwo {
  display: flex;
  background-color: white;
  padding: 1.2em;
  margin-bottom: 2em;
  gap: 1.5em;
}

.card-gap {
  gap: 2em;
}

.servbtn {
  & > a {
    width: max-content;

    border: solid .1rem #f5731f;
    color: #f5731f !important;
    font-size: 1.4rem;
    padding-inline: 1.6rem; 
    padding-block: .8rem;
    border-radius: 2.4rem;
    display: flex; 
    gap: 1.2rem;
    align-items: center;
    margin-top: 4rem;
    &:hover{
      background-color: #f5731f;
      color: white!important;
    }
  }
}

.fa-icons {
  h4 {
    font-size: 1.4rem;
  }
}

.headerimage {
  display: flex;
  align-items: center;
  .container {
    & > div {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2em;
    }
  }
  color: white;
  p {
    color: white !important;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 4rem;
  }
  text-align: center;
}

.pagepara {
  h1,
  h2,
  h3,
  h4 {
    font-size: 4rem;
  }
  padding-block: 5rem;
}

.postlist {
  padding-bottom: 5em;
}

.otherservices {
  padding: 5rem;
  background-color: #dedede;
}

.postcontent {
  padding-block: 5rem;
}

@media (max-width: 35em) {
  .pageheader {
    padding-bottom: 1.2em;
    & > div {
      .active {
        font-weight: bold;
        color: #df4020;
      }
      h1 {
        color: #1175c0;
        font-size: 3rem;
        text-align: center;
        margin-top: 2em;
      }

      background-color: #dedede;
      position: relative;

      & > div:nth-of-type(2) {
        flex-basis: 80rem;
        flex-grow: 1;
        display: flex;
        & > a {
          display: block;
          flex: 1rem 1 1;
        }
      }
    }
  }
  .justify-center {
    justify-content: none;
  }
  .alignitems-center {
    align-items: none;
  }
  .flex-start {
    justify-content: none;
  }

  .flex-end {
    justify-content: none;
  }

  .brands {
    height: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5em;
    color: muted();
    h4 {
      font-size: 2rem;
    }
    picture {
      height: 25rem;
      overflow: hidden;
      border-radius: 1.6rem;
    }
  }
}

@media (min-width: 35em) {
  .pageheader {
    & > div {
      .active {
        font-weight: bold;
        color: #df4020;
      }
      h1 {
        color: #1175c0;
        font-size: 3rem;
      }

      background-color: #dedede;
      position: relative;
      padding: 1em;
      display: flex;
      & > div:nth-of-type(1) {
        flex-basis: 7rem;
        flex-grow: 1;
        align-items: center;
        display: flex;
      }
      & > div:nth-of-type(2) {
        flex-basis: 60rem;
        flex-grow: 1;
        display: flex;
        align-items: center;
      }
    }
  }
  .justify-center {
    justify-content: center;
  }
  .alignitems-center {
    align-items: center;
  }
  .flex-start {
    justify-content: flex-start;
  }

  .flex-end {
    justify-content: flex-end;
  }
  .brands {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
    color: muted();
    picture {
      height: 90%;
      overflow: hidden;
      border-radius: 2.4rem;
    }
  }
}



h1{
  color: #f5731f!important;
}
