@media (max-width: 35em) {
  .blog {
    margin-top: 2em;
    text-align: center;
  }

  .blog picture {
    height: 15rem;
    overflow: hidden;
    display: block;
  }
  .blog > div {
    h3 {
      text-align: center;
      margin-block: 0.5em;
      font-size: 2rem;
    }
    & > div {
      padding: 0.3rem;
      border-top: solid 1px #ccc;
      font-size: 1.8rem;
      justify-content: space-between;
      display: flex;
      padding-block: 1.2em;
    }
  }

  .blogpostwrapper {
    .blog-btn {
      display: flex;
      justify-content: center;
      margin-top: 2em;
      margin-bottom: 3em;
      a {
        display: block;
        background-color: #df4020;
        color: white;
        width: 12rem;
        border-radius: 1.3rem;
        text-align: center;
      }
    }

    h1 {
      text-align: center;
      color: muted();
      font-size: 4rem;
      margin-top: 1em;
    }
  }
}

@media (min-width: 35em) {
  .blog {
    margin-top: 2em;
    text-align: center;
  }

  .blog picture {
    height: 15rem;
    overflow: hidden;
    display: block;
  }
  .blog > div {
    h3 {
      text-align: center;
      margin-block: 0.5em;
    }
    & > div {
      padding: 0.3rem;
      border-top: solid 1px #ccc;
      font-size: 1.8rem;
      justify-content: space-between;
      display: flex;
      padding-block: 1.2em;
    }
  }

  .blogpostwrapper {
    .blog-btn {
      display: flex;
      justify-content: center;
      margin-top: 2em;
      a {
        display: block;
        background-color: #df4020;
        color: white;
        width: 12rem;
        border-radius: 1.3rem;
        text-align: center;
      }
    }

    h1 {
      text-align: center;
      color: muted();
      font-size: 4rem;
    }
  }
}

.youtube {
  position: relative;
  height: 100vh;
  overflow: hidden;
  & > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.multiimage {
  display: flex;
  height: 35rem;
  & div {
    text-align: center;
    flex: 1rem 1 1;
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
    h2 {
      font-size: 3rem;
      line-height: 4rem;
      a {
        color: white;
        text-decoration: underline;
      }

      z-index: 2;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.8);
    }
  }
}

.singleimage {
  & > div {
    display: flex;
    & > .simgb1 {
      flex-basis: 40%;
      flex-grow: 1;
      flex-shrink: 1;
    }
    & > .simgb2 {
      flex-basis: 60%;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 3em;
    }
  }
}

.iglink {
  display: block;
  background-color: #fffe41;
  color: #222;
  text-align: center;
  padding-block: 2em;
  letter-spacing: 1rem;
  &:hover {
    background-color: #222;
    color: white;
  }
}

.blue {
  background-color: #1ae6ff;
}

.yellow {
  background-color: #fee800;
}

.pink {
  background-color: #ffdfd8;
}

.orange {
  background-color: #ff9664;
}
