@media (max-width: 35em) {
  .blog {
    margin-top: 2em;
    text-align: center;
  }

  .blog picture {
    height: 15rem;
    overflow: hidden;
    display: block;
  }
  .blog > div {
    h3 {
      text-align: center;
      margin-block: 0.5em;
      font-size: 2rem;
    }
    & > div {
      padding: 0.3rem;
      border-top: solid 1px #ccc;
      font-size: 1.8rem;
      justify-content: space-between;
      display: flex;
      padding-block: 1.2em;
    }
  }

  .blogpostwrapper {
    .blog-btn {
      display: flex;
      justify-content: center;
      margin-top: 2em;
      margin-bottom: 3em;
      a {
        display: block;
        background-color: #df4020;
        color: white;
        width: 12rem;
        border-radius: 1.3rem;
        text-align: center;
      }
    }

    h1 {
      text-align: center;
      color: muted();
      font-size: 4rem;
      margin-top: 1em;
    }
  }
}

@media (min-width: 35em) {
  .blog {
    margin-top: 2em;
    text-align: center;
  }

  .blog picture {
    height: 22rem;
    overflow: hidden;
    display: block;
  }
  .blog > div {
    h3 {
      text-align: center;
      margin-block: 0.5em;
      line-height: 3rem;
    }
    & > div {
      padding: 0.3rem;
      border-top: solid 1px #ccc;
      font-size: 1.8rem;
      justify-content: space-between;
      display: flex;
      padding-block: 1.2em;
    }
  }

  .blogpostwrapper {
    .blog-btn {
      display: flex;
      justify-content: center;
      margin-top: 2em;
      a {
        display: block;
        background-color: #df4020;
        color: white;
        width: 12rem;
        border-radius: 1.3rem;
        text-align: center;
      }
    }

    h1 {
      text-align: center;
      color: muted();
      font-size: 4rem;
    }
  }
}

.youtube {
  position: relative;
  height: 100vh;
  overflow: hidden;
  & > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.multiimage {
  display: flex;
  height: 35rem;
  & div {
    text-align: center;
    flex: 1rem 1 1;
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
    h2 {
      font-size: 2rem;
      line-height: 4rem;
      a {
        color: white;
        text-decoration: underline;
      }

      z-index: 2;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.8);
    }
  }
}

.singleimage {
  & > div {
    display: flex;
    & > .simgb1 {
      flex-basis: 40%;
      flex-grow: 1;
      flex-shrink: 1;
      h3 {
        a {
          color: white;
        }
      }
    }
    & > .simgb2 {
      flex-basis: 60%;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 3em;
      h3 {
        a {
          color: white;
        }
      }
    }
  }
}

.iglink {
  display: block;
  background-color: #fffe41;
  color: #222;
  text-align: center;
  padding-block: 2em;
  letter-spacing: 1rem;
  &:hover {
    background-color: #222;
    color: white;
  }
}

.blue {
  background-color: #2e03b5;
}

.darkblue {
  background-color: #090909;
  color: white !important;
}
.black {
  background-color: #090909;
  color: white !important;
}
.lightgreen {
  background-color: #7ef7b0;
}
.darkgreen {
  background-color: #0ab942;
}
.red {
  background-color: #ff270e;
}

.yellow {
  background-color: #fee800;
}

.pink {
  background-color: #ffdfd8;
}

.orange {
  background-color: #ff9664;
}

.videxcerpt {
  padding-inline: 5em;
  a {
    color: white;
    font-size: 3rem;
  }
}

.post-sec1 {
  padding-block: 4em;
}

.post-sec2 {
  padding-block: 5em;
  & > div {
    display: flex;
    gap: 3rem;
    & > div {
      flex: 2rem 1 1;
      background-color: white;
      & > div:nth-of-type(2) {
        h4 {
          line-height: 2.9rem;
          font-size: 2.4rem;
          a {
            color: black;
          }
        }
        padding: 1.2em;
      }
    }
  }
}

.post-sec3 {
  padding-block: 5em;
  & > div {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    & > div {
      flex: 40% 1 1;
    }
  }
}

.blog-header {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 4em;
  & > div:nth-of-type(1) {
    flex-basis: 80%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 60rem;
    position: relative;
    & > div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -7rem;
      background-color: white;
      width: 60rem;
      padding: 1em;
      text-align: center;
      font-size: 3rem;
    }
  }
  & > div:nth-of-type(2) {
    flex-basis: 15%;
    height: 60rem;
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
    a {
      img {
        margin-bottom: 1em;
        width: 100%;
      }
    }
  }
}

.post-wrapper {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  & > div:nth-of-type(1) {
    flex-basis: 62%;

  }

  & > div:nth-of-type(2) {
    flex-basis: 33%;
  }
}

.followus {
  border-top: solid 0.1rem orange;
  position: relative;
  h2 {
    font-size: 2rem;
    color: orange;
    position: absolute;
    left: 50%;
    top: -2.4rem;
    transform: translateX(-50%);
    background-color: white;
    padding: 0.6rem;
  }
  display: flex;
  gap: 1.4rem;
  justify-content: center;
  i {
    margin-top: 1.3em;
    width: 4rem;
    height: 4rem;

    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    
    
  }
  .fa-facebook{
    background-color: #415594;
  }
  .fa-twitter{
    background-color: #3da8e0;
  }

  .fa-instagram{
    background-color: #ff6400;
  }
}




.recentposts {
  border-top: solid 0.1rem orange;
  position: relative;
  margin-top: 4em;
  padding-top: 1.5em;
  h2 {
    font-size: 2rem;
    color: orange;
    position: absolute;
    left: 50%;
    top: -2.4rem;
    transform: translateX(-50%);
    background-color: white;
    padding: 0.6rem;
  }


}

.otherposts{
  margin-bottom: 4em;
  & > div:nth-of-type(1){
    border-top: solid #e1147b .2rem; 
  }

  & > div:nth-of-type(2){
    background-color: #e1147b; 
    padding: .3em; 
    width: 40rem; 
    color: white; 
    text-align: center; 
    transform: skew(-20deg);
    margin-inline: auto; 
    margin-top: .5rem;
    margin-bottom: 4rem; 
  }




  & > div:nth-of-type(3){
    display: flex;
    gap: 2em; 
    flex-wrap: wrap;
    & > div{
      flex: 20rem 1 1;
    }
  }






}