@media (min-width: 35em) {
  footer {
    padding-block: 6.4rem;
    background-color: #1f1d2a;
    .container {
      display: flex;
      color: white;
      flex-wrap: wrap;
      gap: 6.4rem;

      & > div {
        flex: 2rem 1 1;
      }

              .footer-info{
        h4 {
          font-size: 3.2rem!important;
          color: #f4721e;
          margin-bottom: 1.6rem;
        }
        & > div:nth-of-type(1){
          color: white;
          opacity: .7;
        }
      }
      .footer-blog{
        & > div:nth-of-type(2){
          color: white; 
          opacity: .7;
        }
      }
    }
    .copy-right{
      color: white; 
      text-align: center;
      margin-top: 4rem;
      opacity: .7;
    }
    .footer-social {
      display: flex;
      gap: 1.5rem;
      margin-top: 2em;
      a {
        color: white;
      }
      i {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: #f4721e;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.4em;
      }
    }
  }

  .footer-blog {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
    font-size: 1.1rem;
    img{
      border-radius: 1.6rem;
    }
    & > div:nth-of-type(1) {
      flex-basis: 22rem;
      flex-grow: 1;
      flex-shrink: 1;
    }
    & > div:nth-of-type(2) {
      flex-grow: 1;
      flex-shrink: 1;
      font-size: 1.4rem !important;
    }
  }

  .footer-info {
    & > h4 {
      font-size: 1.6rem !important;
    }

    & > div:nth-of-type(1) {
      font-size: 1.4rem !important;
    }
  }
}






@media (max-width: 35em) {
   footer {
    padding-inline: 2.4rem;
    padding-block: 6.4rem;
    background-color: #1f1d2a;
    .container {
  
      color: white;
   

      & > div {
        flex: 2rem 1 1;
      }

              .footer-info{
        h4 {
          font-size: 3.2rem!important;
          color: #f4721e;
          margin-bottom: 1.6rem;
        }
        & > div:nth-of-type(1){
          color: white;
          opacity: .7;
        }
        margin-bottom: 8rem;
      }
      .footer-blog{
        & > div:nth-of-type(2){
          color: white; 
          opacity: .7;
        }
      }
    }
    .copy-right{
      color: white; 
      text-align: center;
      margin-top: 4rem;
      opacity: .7;
    }
    .footer-social {
      display: flex;
      gap: 1.5rem;
      margin-top: 2em;
      a {
        color: white;
      }
      i {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: #f4721e;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.4em;
      }
    }
  }

  .footer-blog {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
    font-size: 1.1rem;
    img{
      border-radius: 1.6rem;
    }
    & > div:nth-of-type(1) {
      flex-basis: 22rem;
      flex-grow: 1;
      flex-shrink: 1;
    }
    & > div:nth-of-type(2) {
      flex-grow: 1;
      flex-shrink: 1;
      font-size: 1.4rem !important;
    }
  }

  .footer-info {
    & > h4 {
      font-size: 1.6rem !important;
    }

    & > div:nth-of-type(1) {
      font-size: 1.4rem !important;
    }
  }
}

