@media (min-width: 35em) {
  .serv-btns > div:hover {
    background-color: #777;
    cursor: pointer;
    a {
      color: white !important;
      display: block;
    }
  }
  .testimonials {
    padding: 5em;
    h1 {
      text-align: center;
      color: muted();
    }
    .testm-row {
      background-color: white;
      padding: 2em;
      text-align: center;
      margin-top: 2em;
      h4 {
        margin-block: 0.5em;
      }
    }
    .img-test {
      width: 15rem;
      height: 15rem;
      display: block;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      border: solid 1rem danger();
      margin-inline: auto;
    }
    .fa-quote-left {
      text-align: left !important;
      display: block;
      color: #ccc;
    }
    .fa-quote-right {
      text-align: right !important;
      display: block;
      color: #ccc;
    }
  }
  .unaklodin {
    color: white;
    text-align: center;
    p {
      color: white !important;
      margin-bottom: 2em;
    }

    .divider {
      width: 10rem;
      border-bottom: solid 1px white;
    }
    .unaklodinimg {
      width: 100%;
      background-color: white;
      border-radius: 1.6rem;
      height: 100%;
      overflow: hidden;
      opacity: 0.8;
    }
  }

  .section1 {
    padding-block: 5.6rem;
  }

  .sec1-caption {
    text-align: center;
    color: muted();
    margin-block: 6.4rem;
    width: 60rem;
    margin-inline: auto;
    h1 {
      font-size: 4rem;
    }
  }

  .divider {
    width: 10rem;
    margin-inline: auto;
    height: 0.1rem;
    border-bottom: solid 0.2rem #f5731f;
    margin-bottom: 2.4rem;
  }

  .sbx {
    border: solid 1px muted();
    margin-bottom: 1em;
    padding: 1em;
  }
  .sbx h4 {
    color: muted();
    text-align: center;
    font-weight: 800;
  }
  .sbx picture {
    margin-bottom: 1em;
    display: block;
  }

  .sbx picture img {
    display: block;
    height: 18rem;
    width: 100%;
    overflow: hidden;
  }

  .big-ser-img {
    height: 40rem;
    overflow: hidden;
    display: block;
    margin-bottom: 2em;
    box-shadow: 1rem 1rem 2rem muted(0.3);
    border-radius: 2.4rem;
  }

  .sec3 {
    padding-top: 3em;
    padding-bottom: 4em;
    h1 {
      font-size: 4rem;
    }
  }

  .sec2 {
    background-color: #1f1d2a;
    h1 {
      font-size: 4rem;
      color: #f4721e;
    }
    padding-inline: 6.4rem;
    padding-top: 6.4rem;
    padding-bottom: 8rem;
  }

  .sec-2-info {
    width: 60rem;
    margin-inline: auto;
    & > p {
      opacity: 0.7;
    }
  }

  .sec4 button {
    margin-inline: auto;
    display: block;
    background-color: danger();
    color: white();
    padding: 1rem;
    border-radius: 3rem;
    padding-inline: 3rem;
    cursor: pointer;
  }

  .mtb {
    margin-block: 5rem;
  }
}

@media (max-width: 35em) {
  .serv-btns > div:hover {
    background-color: #777;
    cursor: pointer;
    a {
      color: white !important;
      display: block;
    }
  }
  .testimonials {
    padding-block: 5em;
    h1 {
      text-align: center;
      color: muted();
    }
    .testm-row {
      background-color: white;
      padding: 2em;
      text-align: center;
      margin-top: 2em;
      h4 {
        margin-block: 0.5em;
      }
    }
    .img-test {
      width: 15rem;
      height: 15rem;
      display: block;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      border: solid 1rem danger();
      margin-inline: auto;
    }
    .fa-quote-left {
      text-align: left !important;
      display: block;
      color: #ccc;
    }
    .fa-quote-right {
      text-align: right !important;
      display: block;
      color: #ccc;
    }
  }
  .unaklodin {
    color: white;
    text-align: center;
    p {
      color: white !important;
      margin-bottom: 2em;
    }

    .divider {
      width: 10rem;
      border-bottom: solid 1px white;
    }
    .unaklodinimg {
      width: 100%;
      background-color: white;
      border-radius: 1.6rem;
      height: 100%;
      overflow: hidden;
      opacity: 0.8;
    }
  }

  .section1 {
    padding-block: 5.6rem;
  }

  .sec1-caption {
    text-align: center;
    color: muted();
    margin-block: 6.4rem;
    margin-inline: auto;
    h1 {
      font-size: 4rem;
    }
  }

  .divider {
    width: 10rem;
    margin-inline: auto;
    height: 0.1rem;
    border-bottom: solid 0.2rem #f5731f;
    margin-bottom: 2.4rem;
  }

  .sbx {
    border: solid 1px muted();
    margin-bottom: 1em;
    padding: 1em;
  }
  .sbx h4 {
    color: muted();
    text-align: center;
    font-weight: 800;
  }
  .sbx picture {
    margin-bottom: 1em;
    display: block;
  }

  .sbx picture img {
    display: block;
    height: 18rem;
    width: 100%;
    overflow: hidden;
  }

  .mb-btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .big-ser-img {
    height: 40rem;
    overflow: hidden;
    display: block;
    margin-bottom: 2em;
    box-shadow: 1rem 1rem 2rem muted(0.3);
    border-radius: 2.4rem;
  }

  .sec3 {
    padding-top: 3em;
    padding-bottom: 4em;
    h1 {
      font-size: 4rem;
    }
  }

  .sec2 {
    background-color: #1f1d2a;
    h1 {
      font-size: 4rem;
      color: #f4721e;
    }
    padding-inline: 2.4rem;
    padding-top: 6.4rem;
    padding-bottom: 8rem;
  }

  .sec-2-info {
  
    margin-inline: auto;
    & > p {
      opacity: 0.7;
    }
  }

  .sec4 button {
    margin-inline: auto;
    display: block;
    background-color: danger();
    color: white();
    padding: 1rem;
    border-radius: 3rem;
    padding-inline: 3rem;
    cursor: pointer;
  }

  .mtb {
    margin-block: 5rem;
  }
}

@media (min-width: 35em) {
  .shop {
    padding-bottom: 4rem;
    & > div:nth-of-type(1) {
      text-align: center;
      h1 {
        font-size: 4rem;
        color: #777;
        line-height: 3rem;
        margin-bottom: 1.6rem;
      }
      h4 {
        margin-bottom: 0.8rem;
      }
      .divider {
        margin-bottom: 8rem;
      }
    }

    & > div:nth-of-type(2) {
      display: flex;
      flex-wrap: wrap;
      gap: 3.2rem;
      justify-content: center;
      & > div {
        flex: 25rem 1 1;
        & > a {
          & > div:nth-of-type(1) {
            height: 37rem;
          }
          & > div:nth-of-type(2) {
            font-size: 1rem;
            padding-block: 2.4rem;
          }
        }
      }
    }
  }
}

@media (max-width: 35em) {
  .shop {
    & > div:nth-of-type(1) {
      text-align: center;
      h1 {
        font-size: 3rem;
        color: #777;
        line-height: 3rem;
      }

      h4 {
        font-size: 1.8rem;
      }

      .divider {
        border-bottom: solid 0.1rem black;
        width: 5rem;
        margin-inline: auto;
        margin-bottom: 2.3rem;
      }
    }

    & > div:nth-of-type(2) {
      display: flex;

      gap: 2rem;
      flex-wrap: wrap;
      & > div {
        flex: 15rem 1 1;
        & > a {
          & > div:nth-of-type(1) {
            height: 37rem;
          }
          & > div:nth-of-type(2) {
            font-size: 1.2rem;
            padding-block: 0.8em;
            text-align: center;
          }
        }
      }
    }
  }
}

.single-item {
  margin-top: 1em;
  & > div {
    display: flex;
    gap: 3rem;
    & > div {
      flex: 5rem 1 1;
    }
    & > div:nth-of-type(1) {
      margin-bottom: 5em;
      & > picture {
        height: 70rem;
        display: block;
        overflow: hidden;
      }
      & > div {
        display: flex;
        gap: 1.4rem;
        flex-wrap: wrap;
        margin-top: 1.2em;
        justify-content: center;
        & > div {
          flex-basis: 8rem;
          height: 6rem;
          flex-grow: 0;
          flex-shrink: 1;
          overflow: none;
          cursor: pointer;
        }
      }
    }
  }
}
