@media (min-width: 35em) {
  .level25 {
    background-color: #1f1d2a;
    padding-block: 6.4rem;
    & > div:nth-of-type(1) {
      padding-inline: 6.4rem;
      width: 70rem;
      margin-bottom: 8rem;
      h2 {
        color: #f4721e;
        line-height: 4.8rem;
      }
      h5 {
        color: white;
        margin-bottom: 3.2rem;
      }
      p {
        color: white;
        opacity: 0.5;
      }
    }

    & > div:nth-of-type(2) {
      display: flex;
      flex-wrap: wrap;
      & > div:nth-of-type(1) {
        flex-grow: 8;
        display: flex;
        padding-left: 6.4rem;
        gap: 2.4rem;
        flex-wrap: wrap;
        & > div {
          height: 40rem;
          flex-basis: 25rem;
        }
      }
      & > div:nth-of-type(2) {
        flex-grow: 4;
      }
    }
  }

  .level-25-img {
    height: auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: linear-gradient(to top, #1f1d2a, transparent);
    }
  }
}

@media (max-width: 35em) {
  .level25 {
    background-color: #1f1d2a;
    padding-block: 6.4rem;
    & > div:nth-of-type(1) {
      padding-inline: 2.4rem;
      margin-bottom: 8rem;
      h2 {
        color: #f4721e;
        line-height: 4.8rem;
        font-size: 4rem;
      }
      h5 {
        color: white;
        margin-bottom: 3.2rem;
      }
      p {
        color: white;
        opacity: 0.5;
      }
    }

    & > div:nth-of-type(2) {
      & > div:nth-of-type(1) {
        flex-grow: 8;
        display: flex;
    
        gap: 2.4rem;
        flex-wrap: wrap;
        justify-content: center;
        & > div {
          height: 40rem;
          flex-basis: 15rem;
        }
      }
      & > div:nth-of-type(2) {
        flex-grow: 4;

        height: 80rem;
      }
    }
  }

  .level-25-img {
    height: auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: linear-gradient(to top, #1f1d2a, transparent);
    }
  }
}
