@media (min-width: 35em) {
  .modaloverlay {
    position: fixed;
    cursor: pointer;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
    display: none;
  }

  .modalinner {
    display: none;
    width: 50rem;
    height: 50rem;
    position: fixed;
    left: 50%;
    top: 50%;
    cursor: pointer;
    z-index: 999999999;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    border: solid 1.6rem white;
    box-shadow: 1rem 1rem 0 2rem rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 35em) {
  .modaloverlay {
    position: fixed;
    cursor: pointer;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
    display: none;
  }

  .modalinner {
    display: none;
    width: 30rem;
    height: 30rem;
    position: fixed;
    left: 50%;
    top: 50%;
    cursor: pointer;
    z-index: 999999999;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    border: solid 1.6rem white;
    box-shadow: 1rem 1rem 0 2rem rgba(0, 0, 0, 0.3);
  }
}

.modaloverlay.show {
  display: block;
}
.modalinner.show {
  display: block;
}

.modaloverlay.hide {
  display: none;
}
.modalinner.hide {
  display: none;
}
