@import './config.scss';
:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-size: 1.6rem;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: solid 0.1rem #ccc;
}

a {
  text-decoration: none;
  @extend .text-muted;
}
h1 {
  font-size: clamp(1.6px, 5vw, 8vw);
}
h2 {
  font-size: clamp(1.5px, 3.5vw, 6vw);
}
h3 {
  font-size: clamp(1.4px, 2vw, 4vw);
}
h4 {
  font-size: clamp(1.3px, 1.5vw, 3vw);
}
p {
  font-size: clamp(11px, 1.2vw, 1.5rem);
  color: muted();
}
.container {
  padding-inline: 3em;
  margin-inline: auto;
}

.home-flex {
  display: flex;
  flex-wrap: wrap;
  & > div {
    flex: 5rem 1 1;
  }
}

.blog-flex {
  display: flex;
  flex-wrap: wrap;
  & > div {
    flex: 35rem 0 1;
  }
}
